/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	b-ackground: #544C40 url(images/img01.jpg) repeat left top;
	background: #5DA8DA url(images/wbbg.jpg) repeat left top;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
}

h1, h2, h3 {
	margin-top: 0;
}

h1 {
	font-size: 1.6em;
	font-weight: normal;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1em;
}

ul {
}

a {
	text-decoration: none;
	color: #AF9371;
}

a:hover {
	border-bottom: none;
}

a img {
	border: none;
}

img.left {
	float: left;
	margin: 0 20px 0 0;
}

img.right {
	float: right;
	margin: 0 0 0 20px;
}

#header {
	w-idth: 1000px;
	m-argin: 0 auto;
	h-eight: 123px;
	b-ackground: url(images/img02.jpg) repeat-x left top;
}

/* Header */

#logo {
	w-idth: 970px;
	height: 60px;
	m-argin: 0 auto;
	p-adding: 0 10px;
	background:url("images/freehost.png") no-repeat;
}

#logo h1, #logo p {
	float: left;
	margin: 0;
	color: #FFFFFF;
}

#logo h1 {
	padding: 50px 0 0 0;
	text-transform: lowercase;
	font-weight: normal;
	font-size: 3em;
}

#logo p {
	text-transform: uppercase;
	padding: 72px 0 0 3px;
	font-size: 10px;
	color: #110E0F;
}

#logo a {
	border: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Menu */

#menu {
	width: 1000px;
	margin: 0 auto;
	p-adding: 10px 0;
	h-eight: 30px;
}

#menu ul {
	margin: 0;
	padding: 10px 0px 20px 0px;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	margin: 0 3px 0 0;
	p-adding: 6px 15px 10px 20px;
	padding: 0px 15px;
	border-right: 1px #000000 solid;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}

#menu a:hover {
	margin: 0 3px 0 0;
	color: #FFFFFF;
}

#menu .current_page_item a {
	margin: 0 3px 0 0;
	color: #FFFFFF;
}

/* Wrapper */

#wrapper {
	width: 1000px;
	margin: 0 auto;
}

/* Page */

#page {
	w-idth: 1000px;
	m-argin: 0 auto;
	p-adding: 20px 20px 20px 20px;
	p-adding: 0px 15px;
	color: #000;
	background: #FFF; /*#110E0F*/;
}

#page-bg {
}

/* Latest Post */

#latest-post {
	padding: 20px;
	border: 1px solid #E7E7E7;
}

/* Content */

#content {
	float: left;
	width: 560px;
}

.post {
	padding: 1px 220px;
	line-height: 200%;
}

.post h1 {
	font-weight: normal;
}

.title {
	margin: 0;
	padding: 10px 0 0 20px;
	font-weight: normal;
}

.title a {
	border-bottom: none;
	color: #FFFFFF;
}

.title a:hover {
	border-bottom: 1px dotted #000000;
}

.byline {
	border-bottom: 2px solid #000000;
	margin: -10px 20px 20px 20px;
}

.tag {
	padding: 0 15px;
}

.entry {
	padding: 0 20px;
}

.links {
	padding: 4px 20px;
	text-align: left;
	font-weight: bold;
	background: #000000;
}

.links a {
	border: none;
}

.links a:hover {
}

/* Sidebars */

#sidebar1 {
	float: left;
}

#sidebar2 {
	float: right;
}

.sidebar {
	float: left;
	width: 210px;
	padding: 0;
	font-size: 12px;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar li {
	p-adding: 0 0 10px 0;
}

.sidebar li ul {
}

.sidebar li li {
	margin: 0 20px 0 15px;
	p-adding: 8px 0px;
	padding-top: 8px;
	border-bottom: 1px #423525 dashed;
	b-order-top: 1px #423525 dashed;
}

.sidebar li h2 {
	margin: 0 0 0 0;
	p-adding: 10px 15px;
	p-adding: 5px 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	b-ackground: #000000;
	font-size: 13px;
	/*color: #AF9371;*/
	color:#546992;
}

.sidebar a {
	color: #000 /*#FFFFFF*/;
}

/* Search */

#searchform {
	margin: 0;
	padding: 0 0 0 0;
}

#searchform br {
	display: none;
}

#searchform h2 {
}

#s {
	margin: 10px 0px 0 15px;
	padding: 2px 2px;
	width: 110px;
	height: 18px;
	border: 1px solid #423525;
	background: #000000;
	font-size: 10px;
	color: #CCCCCC;
}

#x {
	margin: 0;
	padding: 2px 5px;
	height: 25px;
	background: #000000;
	border: 1px solid #423525;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #CCCCCC;
}
/* Calendar */

#calendar_wrap {
	padding: 0 15px;
	text-align: center;
}

#calendar_wrap table {
	width: 100%;
}

#calendar_wrap th {
}

#calendar_wrap td {
}

#calendar_wrap tfoot td {
	border: none;
}

#calendar_wrap tfoot td#prev {
	text-align: left;
	font-weight: bold;
	border: none;
}

#calendar_wrap tfoot td#prev a {
	border: none;
}

#calendar_wrap tfoot td#next {
	text-align: right;
	font-weight: bold;
	border: none;
}

#calendar_wrap tfoot td#next a {
	border: none;
}

/* Footer */

#footer {
	w-idth: 1000px;
	h-eight: 55px;
	m-argin: 0 auto;
	b-ackground: #514334;
	b-ackground: #3E5886;
	border-top: 2px solid #423525;
}

#footer p {
	margin: 0;
	padding: 15px 0 0 0;
	text-align: center;
	font-size: smaller;
	color: #FFFFFF;
}

#footer a {
	color: #FFFFFF;
}
