
body {
	margin: 0;
	font-family: Arial, Georgia, "Times New Roman";
	font-size: 14px;
}

a {
	text-decoration: none;
	cursor:pointer;
}

h1 {
	font-family: Arial, Georgia, "Times New Roman";
	font-size: 25px;
	font-weight: 400;
	b-ackground: url(images/hover_sub_menu.gif) repeat-x;
}

/* Горизонтальное меню */

.h_menu {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
}

.h_menu li {
	display: block;
	float: left;
}

/* Враппер фиксированной ширины для каждой секции */

#wrapper {
	margin: 0 auto;
	width: 990px;
	b-ackground-color: #cc0;
	height: 100%;
}

/* Заголовок */

#header {
	background: url(images/bg_header.jpg);
	b-ackground-color: #ccc;
	height: 125px; /* с учётом padding */
	p-adding-top: 20px;
	font-size: 12px;
}

#logo {
	cursor:pointer;
	padding-top: 10px;
	float: left;
}

#wbfhcaption {
	cursor:pointer;
	float: left;
	padding-top: 20px;
	padding-left: 10px;
}

#serverstate {
	float: left;
	padding-top: 15px;
	padding-left: 30px;
	line-height: 15px;
}

#serverstate a {
	color: #550;
	border-bottom:1px solid;
}

#serverstate table {
	border-width: 0;
	border-spacing: 5px;
}

#serverstate td {
	padding: 0 0 0 0;
}

#serveraddr {
	float: left;
	padding-top: 20px;
	padding-left: 10px;
	line-height: 20px;
}

#serveraddr table {
	border-width: 0;
	border-spacing: 0;
}

#serveraddr td {
	padding: 0 0 0 0;
}

#aircraft {
	float: none;
}

#langselect {
	padding-top: 20px;
	float: right;
	color: #550;
}

#langselect a {
	color: #550;
	font-size: 11px;
	border-bottom:1px solid;
}

/* Выбор секции */

#section_menu {
	font-family: "Times New Roman", Georgia, Arial;
	background-color: #000;
	font-size: 15px;
	color: #fff;
	height: 35px;
}

#section_sel {
	float: left;
	width: 625px;
}

#section_sel a {
	color: #fff;
}

#section_sel .section_first_elem {
	line-height: 15px;
	padding: 10px 0 10px 0 /*left*/ ;
	margin: 0 15px 0 15px;
}

#section_sel .section_other_elem {
	line-height: 15px;
	padding: 10px 0 10px 0;
	margin: 0 25px 0 25px
}

#section_sel .section_other_elem a {
	border-bottom: 1px solid;
}

#section_sel .section_selected_elem {
	background: url(images/hover_main_menu.gif) no-repeat bottom;
}

.sectSelected {
	background: url(images/hover_sub_menu.gif) repeat-x bottom;
	border-bottom: 0px none;
}

#search_panel {
	width: 200px;
	float: right;
	border: 1px solid #888;
	margin: 6px 0 6px 0;
	height: 21px;
}

#search_panel form {
	width: 200px;
	float: left;
	height: 21px;
}

#search_panel input {
	float: left;
	background: url(images/bg_search.gif) repeat-x;
	color: #bbb;
	border: none;
	width: 179px;
	height: 19px;
}

#search_button {
	float: right;
	background-color: transparent;
	border: none;
	cursor: pointer;
	margin: 2px 0;
	padding: 0;
}

/* Выбор раздела */

#part_menu {
	font-family: Arial;
	font-size: 12px;
	background-color: #fff;
	height: 30px;
}

#part_menu a {
	color: #000;
}

#part_menu .part_other_elem {
	line-height: 10px;
	padding: 10px 10px 10px 10px;
}

#part_menu a {
	border-bottom: 1px solid;
}

#part_menu .part_first_elem {
	line-height: 10px;
	padding: 10px 10px 10px 10px;
	margin: 0 0 0 5px;
}

#part_menu .part_selected_elem {
	background: url(images/hover_sub_menu.gif) repeat-x bottom;
}

.partSelected {
	background: url(images/bg_sub_menu_on.gif) repeat;
}

/* Инфо и скриншоты */

#dl_and_shots {
	color: #dd3;
	background: url(images/bg_screenshots.gif) repeat-x;
	height: 240px;
}

#download {
	b-ackground-color: #0a0;
	height: 100%;
	width: 245px;
	float: left;
	padding-left: 10px;
}

#download .about {
	line-height: 12px;
	padding: 0;
}

.about_caption {
	font-size: 12px;
	color: #83b7b5;
}

.about_value {
	font-size: 12px;
	color: #fff;
}

#shots {
	height: 100%;
	b-ackground-color: #a00;
	width: 735px;
	float: right;
	font-size: 20px;
}


/* Главный блок */

#main {
}

#leftbar {
	float: left;
	width: 255px;
}

#centerbar {
	width: 500px;
	float: left;
}

#centerbar a {
	color: #A11;
	border-bottom: 1px solid;
}

#links {
	background-color: #bbb;
	height: 80px;
}

#rightbar {
	width: 220px;
	float: right;
	padding-left: 15px;
}

/* Подвал */

#footer {
	padding-top: 20px;
	height: 75px;
	background-color: #757535;
}

#design_info {
	color: #fff;
	font-size: 11px;
	float: left;
	width: 260px;
	height: 100%;
}

#design_info a {
	color: #ff7;
	border-bottom:1px solid;
}

#copyright {
	color: #fff;
	font-size: 11px;
	float: right;
	width: 730px;
	height: 100%;
}
