body {
	b-ackground: #29361C url(images/wbbg2.jpg) repeat-x left center;
	b-ackground: #080B12 url(images/67c8c8ecd39c.jpg) no-repeat center top;
	background: #BBB;
	b-ackground: #080B12;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	min-width:800px;
}

h1 {
	font-size: 1.5em;
	font-weight: 800;
}

h3 {
	padding-top:10px;
}

em {
	font-weight: 800;
}

#wrapper {
	o-pacity: 0.8;
	f-ilter: alpha(opacity=80);
}

#logo {
	w-idth: 970px;
	height: 90px;
	m-argin: 0 auto;
	p-adding: 0 10px;
	b-ackground:url("images/freehost.png") no-repeat;
}

#logo img {
	margin-top:10px;
	m-argin-left:10px;
}

.sidebar a {
	color:#000000;
}
.sidebar h2 a {
	c-olor:#546992;
	color:#249;
}

.sidebar li h2 {
color:#546992;
font-size:13px;
margin:0;
padding-bottom:0;
padding-top:10px;
}

.sidebar li h2 {
	font-family: Verdana,Arial,Helvetica,sans-serif, "Trebuchet MS";
}

.sidebar ul {
	margin: 0;
	padding: 0 15px;
	list-style: none;
}

.sidebar li.current {
	list-style: circle;
}

#sidebar1 {
	border-right: 1px #000000 dashed;
	border-bottom: 1px #000000 dashed;
	width: 180px;
}

#sidebar2 {
	margin-left:10px;
	border-left: 1px #000000 dashed;
	border-bottom: 1px #000000 dashed;
}

.sidebar li li {
	p-adding-top: 8px;
	b-order-bottom: 1px #423525 dashed;
}

.post {
	padding: 0px 240px 0 210px;
	line-height: 200%;
}

.post a {
	text-decoration: none;
	c-olor: #546992;
	color:#249;
	font-family: Verdana,Arial,Helvetica,sans-serif, "Trebuchet MS";
	font-size: 13px;
	font-weight: 600;
}

#h_video img {
	border:1px solid #000;
}

/* Фон */

.footerlinks {
	clear:both;
	w-idth:100%;
	h-eight:40px;
}

/*
.footerlinks div{
	b-ackground:#C8A2C8;
	f-ont:Bold Small Tahoma;
	float:left;
	width:25%;
	text-align:center;
	border:dashed 0px;
	border-color:#B9B #DBD #DBD #B9B;
}
*/

.footerlinks li {
	display: block;
	float: left;
	m-argin: 0 3px 0 0;
	p-adding: 6px 15px 10px 20px;
	b-order-right: 1px #000000 solid;
	text-decoration: none;
	text-transform: uppercase;
	font-weight:600;
	font-family: Verdana,Arial,Helvetica,sans-serif, "Trebuchet MS";
	font-size: 13px;
	color: #546992;
	width:25%;
}

#footer a {
	color:#546992;
}


/* Разделы */

#section {
	height:30px;
}

#section #main {
	margin: 0 auto;
	b-ackground-color: #222;
	width: 540px;
}

#section ul {
	height:30px;
	list-style:none outside none;
	padding: 0;
	margin: 0;
}

#section li {
	display: block;
	float: left;
	m-argin: 0 3px 0 0;
	p-adding: 6px 15px 10px 20px;
	b-order-right: 1px #000000 solid;
	text-decoration: none;
	text-transform: uppercase;
	font-weight:600;
	font-family: Verdana,Arial,Helvetica,sans-serif, "Trebuchet MS";
	f-ont-size: 13px;
	color: #546992;
	width:180px;
}

#section a {
	font-weight:600;
	font-size: 1.5em;
	font-family: Verdana,Arial,Helvetica,sans-serif, "Trebuchet MS";

	display: block;
	float: left;
	m-argin: 0 3px 0 0;
	p-adding: 6px 15px 10px 20px;
	p-adding: 0px 15px;
	text-decoration: none;
	t-ext-transform: uppercase;
	color: #FFFFFF;
	m-argin: 0 auto;
	width:140px;
	margin: 0 20px 0 20px;
}

#section a#A {
	text-align: left;
}
#section a#B {
	text-align: center;
}
#section a#C {
	text-align: right;
}


#main {
	width:600px;
}

#menu li.path {
	display: block;
	float: left;
	margin: 0 3px 0 0;
	p-adding: 6px 15px 10px 20px;
	p-adding: 0px 15px;
	b-order-right: 1px #000000 solid;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}

.post {
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	f-ont-family:Arial,Helvetica,sans-serif;
	font-size:14px;
	line-height:120%;
}

.post p:first-letter {
	padding-left:10pt;
}

/* Хак от падения IE6 */
.post p strong:first-letter {
	padding-left:0;
}

/**
 * Overwrite for having a carousel with dynamic width.
 */
.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 100%;
    height: 200px;
	margin: 0 auto;
	padding: 0;
}

.jcarousel-skin-tango .jcarousel-container {
    -moz-border-radius: 10px;
    b-ackground: #F0F6F9;
    b-order: 1px solid #346F97;

    b-order: 0;
    border: 1px solid #888;
	background: none;
	o-pacity: 0.2;
	height: 220px;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width: 90%;
    margin: 0 auto;
	height: 202px;
	margin-top: 10px;
}

.jcarousel-skin-tango .jcarousel-item {
    -moz-border-radius: 10px;
    background: #FFF;
    border: 1px solid #000;
	height: 200px;
	width: 260px;
}

li img, li object embed {
	margin-top: 10px;
	margin-left: 10px;
}

/*
#display {
    clear: both;
    width: auto;
    height: 250px;
    overflow: scroll;
    border: 1px solid #666;
    background-color: #fcfcfc;
    padding: 10px;
}
*/

