em {
	font-weight: 800;
}

#h_video img {
	border:1px solid #000;
}

/* ‘ÓÌ */

.footerlinks {
	clear:both;
	w-idth:100%;
	h-eight:40px;
}

/*
.footerlinks div{
	b-ackground:#C8A2C8;
	f-ont:Bold Small Tahoma;
	float:left;
	width:25%;
	text-align:center;
	border:dashed 0px;
	border-color:#B9B #DBD #DBD #B9B;
}
*/

h1 {
	font-weight: 800;
}

.footerlinks li {
	display: block;
	float: left;
	m-argin: 0 3px 0 0;
	p-adding: 6px 15px 10px 20px;
	b-order-right: 1px #000000 solid;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	width:25%;
}

#menu li.path {
	display: block;
	float: left;
	margin: 0 3px 0 0;
	p-adding: 6px 15px 10px 20px;
	padding: 0px 15px;
	border-right: 1px #000000 solid;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}

.post {
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
	line-height:120%;
}

.post p:first-letter {
	padding-left:10pt;
}

