
body {
	margin: 0;
	font-family: Arial, Georgia, "Times New Roman";
	font-size: 14px;
}

a {
	text-decoration: none;
	cursor:pointer;
}

h1 {
	font-family: Arial, Georgia, "Times New Roman";
	font-size: 25px;
	font-weight: 400;
	b-ackground: url(images/hover_sub_menu.gif) repeat-x;
}

/* Горизонтальное меню */

.h_menu {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
}

.h_menu li {
	display: block;
	float: left;
}

/* Враппер фиксированной ширины для каждой секции */

.wrapper {
	margin: 0 auto;
	width: 990px;
	height: 100%;
	clear: both;
}

/* Заголовок */

#header {
	background: url(images/bg_header.jpg);
	b-ackground-color: #ccc;
	height: 125px; /* с учётом padding */
	p-adding-top: 20px;
	font-size: 12px;
}

#logo {
	cursor:pointer;
	padding-top: 10px;
	float: left;
}

#wbfhcaption {
	cursor:pointer;
	float: left;
	padding-top: 20px;
	padding-left: 10px;
}

#serverstate {
	float: left;
	padding-top: 15px;
	padding-left: 30px;
	line-height: 15px;
}

#serverstate a {
	color: #550;
	border-bottom:1px solid;
}

#serverstate table {
	border-width: 0;
	border-spacing: 5px;
}

#serverstate td {
	padding: 0 0 0 0;
}

#serverstate table table{
	/*border-width: 0;*/
	border-spacing: 0;
}

#serverstate table table td {
	width: 20px;
	height: 15px;
	text-align: center;
	/*background: #fff;*/
	font-weight: 600;
}

.count_red {
	color: #fff;
	background: url(images/bg_red.gif) repeat-x;
}

.red_vs_gold {
	background: #fff;
}

.count_gold {
	background: url(images/bg_gold.gif) repeat-x;
}

#serveraddr {
	float: left;
	padding-top: 20px;
	padding-left: 10px;
	line-height: 20px;
}

#serveraddr table {
	border-width: 0;
	border-spacing: 0;
}

#serveraddr td {
	padding: 0 0 0 0;
}

#aircraft {
	float: none;
}

#langselect {
	padding-top: 20px;
	float: right;
	color: #550;
}

#langselect a {
	color: #550;
	font-size: 11px;
	border-bottom:1px solid;
}

/* Выбор секции */

#category_menu {
	font-family: "Times New Roman", Georgia, Arial;
	background-color: #000;
	font-size: 15px;
	color: #fff;
	height: 35px;
}

#category_sel {
	float: left;
	width: 625px;
}

#category_sel a {
	color: #fff;
	border-bottom: 1px solid;
}

#category_sel .category_first_elem {
	line-height: 15px;
	padding: 10px 0 10px 0 /*left*/ ;
	margin: 0 15px 0 15px;
}

#category_sel .category_other_elem {
	line-height: 15px;
	padding: 10px 0 10px 0;
	margin: 0 25px 0 25px
}

#category_sel .category_selected_elem {
	background: url(images/hover_main_menu.gif) no-repeat bottom;
}

#search_panel {
	width: 200px;
	float: right;
	border: 1px solid #888;
	margin: 6px 0 6px 0;
	height: 21px;
}

#search_panel form {
	width: 200px;
	float: left;
	height: 21px;
}

#search_panel input {
	float: left;
	background: url(images/bg_search.gif) repeat-x;
	color: #bbb;
	border: none;
	width: 179px;
	height: 19px;
}

#search_button {
	float: right;
	background-color: transparent;
	border: none;
	cursor: pointer;
	margin: 2px 0;
	padding: 0;
}

/* Выбор раздела */

#section_menu {
	clear: both;
	font-family: Arial !important, Georgia, "Times New Roman";
	font-size: 12px !important;
	height: 30px;
}

#section_menu a {
	color: #000;
}

#section_menu .section_other_elem {
	line-height: 10px;
	padding: 10px 10px 10px 10px;
}

#section_menu a {
	border-bottom: 1px solid;
}

#section_menu .section_first_elem {
	line-height: 10px;
	padding: 10px 10px 10px 10px;
	margin: 0 0 0 5px;
}

#section_menu .section_selected_elem {
	background: url(images/hover_sub_menu.gif) repeat-x bottom;
}

.sectionSelected {
	background: url(images/bg_sub_menu_on.gif) repeat;
}

/* Инфо и скриншоты */

#dl_and_shots {
	color: #dd3;
	background: url(images/bg_screenshots.gif) repeat-x;
	height: 240px;
	clear: both;
}

#download {
	b-ackground-color: #0a0;
	height: 100%;
	width: 245px;
	float: left;
	padding-left: 10px;
}

#download .about {
	line-height: 12px;
	padding: 0;
}

.about_caption {
	font-size: 12px;
	color: #83b7b5;
}

.about_value {
	font-size: 12px;
	color: #fff;
}

#shots {
	height: 100%;
	b-ackground-color: #a00;
	width: 735px;
	float: right;
	font-size: 20px;
}

#leftbar {
	float: left;
	width: 255px;
}

#forum_selector {
	float: left;
	background-color: #858510;
	color: #fff;
	width: 100px;
	padding: 10px 10px 0px 10px;
	height: 23px;
}

#news_selector {
	float: left;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #858510;
	width: 105px;
	border-left: 0;
	border-bottom: 0;
	color: #124;
	padding: 8px 7px 0px 7px;
	height: 22px;
	margin-top: 2px;
}

#leftbar > div {
	width: 240px;
}

#forum_topics {
	float: left;
}

#forum_topics > div {
	padding: 7px;
	background-color: #858510;
	border-bottom: 1px solid #656500;
	border-top: 1px solid #bb4;
	font-size: 11px;
}

#forum_topics h2 {
	font-size: 11px; margin: 0;
}

#forum_topics a {
	color: #fff;
}

#forum_topics #all_topics {
	margin-bottom: 20px;
	padding: 7px;
	background-color: #393a00;
	font-size: 11px;
}

#news_topics {
	height: 130px;
	background-color: #858510;
	float: left;
	display: none;
	border-top: 1px solid #bb4;
}

/* Главный блок */

#content {
	line-height: 20px;
}

#centerbar {
	width: 500px;
	float: left;
}

#content a {
	color: #A11;
	border-bottom: 1px solid;
}

#links {
	margin-top: 30px;
	height: 117px;
	background: url(images/bg_links.gif) repeat-x;
	/*
	background-color: #bbb;
	height: 80px;
	*/
}

#links .link {
	float: left;
	width: 180px;
	margin-top: 6px;
}

#links a {
	color: #fff;
}

#rightbar {
	width: 220px;
	float: right;
	padding-left: 15px;
}

#rightbar a {
	color: #fff;
}

#rightbar .rating {
	float: left;
	width: 235px;
	margin-top: 20px;
}

#rightbar .rating .num {
	width: 20px;
	height: 20px;
	padding: 0;
	margin: 0 1px 1px 0;
	text-align: center;
	font-size: 12px;
}

#rightbar .rating .num_red {
	background: url(images/bg_best_pilots_red.gif);
	color: #fff;
}

#rightbar .rating .num_gold {
	background: url(images/bg_best_pilots_gold.gif);
}

#rightbar .rating .name {
	width: 180px;
	padding: 0;
	padding-left: 8px;
	font-size: 12px;
	font-weight: 600;
	color: #fff;
	white-space: nowrap;
}

#rightbar .rating .name_red {
	background: url(images/bg_best_pilots_red_name.gif) repeat-x;
}

#rightbar .rating .name_gold {
	background: url(images/bg_best_pilots_gold_name.gif) repeat-x;
}

#tracks {
	float: left;
	width: 235px;
	margin-top: 20px;
}

#tracks h3 {
	margin: 0;
}

#tracks .track_num {
	width: 20px;
	height: 16px;
	padding: 0;
	text-align: center;
	font-size: 10px;
	background: url(images/bg_best_tracks.gif) repeat-x;
}

#tracks .track_name {
	width: 178px;
	padding: 0;
	font-size: 10px;
	color: #fff;
	white-space: nowrap;
}

.track_name img {
	padding: 0 5px;
	border: 0;
}

.track_name a {
	border-bottom: 1px solid;
}

/* Подвал */

#footer {
	padding-top: 20px;
	height: 75px;
	background-color: #757535;
}

#design_info {
	color: #fff;
	font-size: 11px;
	float: left;
	width: 260px;
	height: 100%;
}

#design_info a {
	color: #ff7;
	border-bottom:1px solid;
}

#copyright {
	color: #fff;
	font-size: 11px;
	float: right;
	width: 730px;
	height: 100%;
}
